<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Annuaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Annuaire</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img alt="Photo d'annuaire" src="assets/image/annuaire.jpg" />
      <ion-card-header>
        <ion-card-title>ANNUAIRE</ion-card-title>
        <ion-card-subtitle>Annuaire personnel</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Gestionnaire de l'annuaire personnel.
      </ion-card-content>
      
    </ion-card>
  </div>
</ion-content>
